
<%- include('partials/header') %>

<h1>About Me</h1>
<p>I am a <strong><%= profession %></strong>. I love building digital experiences and helping people grow.</p>

<%- include('partials/footer') %>


